<!DOCTYPE html>
<html>
    <head>
        <title>Taxular | Sales Tax with AngularJS</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/pageStyle.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,400italic' rel='stylesheet' type='text/css'>
        <script src="vendors/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="salesTaxApp" class="ng-scope">
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand">Taxular</a>
                <p class="navbar-text">Calculate Sales Tax with AngularJS</p>
            
            </div>    
        </nav>
        <div class="container title text-center">
            <h1>Taxular</h1>
        </div>
        <div ng-controller="calcCtrl" class="container main">
            <div class="row">
                <div class="col-md-6">
                    <div class="container listTitle">
                        <h1 class="text-center">Select a State</h1>
                    </div>
                    <div class="container list">
                        <div class="list-group txulr-list-grp">
                            <a href="" ng-click="select(state, $index)" ng-class="{active: isActive(state)}" ng-repeat="state in states" class="list-group-item txulr-list">{{state.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container right">
                        <div class="container input">
                            <div id="money" ng-click="checkIfSelected()">
                                <input class="text-center" type="number" placeholder="Price" ng-disabled="currentState == -1" ng-model="price">
                                
                            </div>
                        
                        </div>
                        <div class="container output">
                            <h1 ng-if="price == null" class="text-center">Cost</h1> <!-- Is hidden after calculate is clicked -->
                            <h2 ng-if="price > 100000000" class="text-center">Price must not be over 100 million dollars</h2>
                            <h2 ng-if="price < 0" class="text-center">No Negative Numbers Allowed</h2>
                            <div ng-if="checkNumberValid()" class="text-center costInfo">
                                <p>Sales Tax Rate in {{states[currentState].name}} is {{(states[currentState].tax*100) | number:3 }}% </p>
                                <p>{{price}} + {{(states[currentState].tax*100) | number:3 }}%</p>
                                <p class="finalCost">${{price*states[currentState].tax + price | number: 2}}</p>
                            </div>
                        
                        </div>
                    </div>
                
                </div>
            
            </div>
        <footer>
            <div class="container text-center">
                <p>Sales tax may differ by municipality</p>
                <a href="https://github.com/nickr77/taxular"><img src="img/GitHub-Mark-Light-64px.png">See source on GitHub</a>
            </div>
        </footer>
        
        </div>
        
    
    </body>
</html>